div[class*="row"] {
    border: thin solid blue; 
}
div[class*="col-"] {
    border: thin solid white; 
}
.bk{
    background-color: black ;
    color: white;
}
.mycontent{
    width:80%;
}
.lwd{
    min-width: 100px
}