<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"
    />
    <link rel="stylesheet" href="mycss.css" />
  </head>

  <body>
    <div class="row bk">
      <div class="col-sm-12">
        <h1>Kainos Employee Admin System</h1>
      </div>
    </div>
    <header>
      <div class="logo">Kainos</div>
    </header>
    <div class="container mycontent">{% block content %} {% endblock %}</div>
  </body>
</html>
