{% extends "index.html" %} {% block content %}
<h1>View Employees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Salary</th>
    <th>Role</th>
    <th>Employee Number</th>
  </tr>

  {% for employee in employees %}
  <tr>
    <td>{{employee.name}}</td>
    <td>{{employee.address}}</td>
    <td>{{employee.salary}}</td>
    <td>{{employee.role}}</td>
    <td>{{employee.employee_number}}</td>
  </tr>
  {% endfor %}
</table>

<div class = "container-fluid text-center col-8">
  <br><br>
  <h1 class = "text-dark"> Add Employee </h1>
  <br>
  <form method = "post">
      <div class = "form-group">
          <input 
          type ="text"
          class = "p-2 rounded form-control-md"
          id = "name"
          name = "name"
          placeholder = "Name"
          >
          </input>
      </div>
  
      <br>
  
      <div class = "form-group">
      <input 
          type ="text"
          class = "p-2 rounded form-control-md"
          id = "address"
          name = "address"
          placeholder = "Address"
      >
      </input>
      </div>
      <br>
  
      <div class = "form-group">
      <input 
          type ="text"
          class = "p-2 rounded form-control-md"
          id = "salary"
          name = "salary"
          placeholder = "Salary"
      >
      </input>
      </div>
      <br>
  
      <div class = "form-group">
      <input 
          type ="text"
          class = "p-2 rounded form-control-md"
          id = "role"
          name = "role"
          placeholder = "Role"
      >
      </input>
      </div>
      <br>
  
      <br><br>


      <!-- SUBMIT DATA BUTTON-->
      <div class = "container text-center" >
          <button 
          class = "btn btn-dark"
          id = "login-submission" 
          name = "submit-login"
          >
          Submit new user
          </button>
      </div>
      
      
      




  </form>
      


</div>

{% endblock %}
